:root {
    --bg-color: #333333;
    --bg-color-secondary: #2c2c2c;
    --nav-bg-color: #1c1c1c;
    --text-color-primary: #ffffff;
    --text-color-secondary: #b0b0b0;
    --text-color-placeholder: #b0b0b057;
    --accent-color: #4a90e2;
    --shadow-color: rgba(0, 0, 0, 0.1);
}