{% extends "base.html" %}
{% block content %}
<h1>Import</h1>
<div class="glass-card">
    <div id="notification-area" class="mb-3"></div>
    <form id="import-form">
        <div class="mb-3">
            <label for="import-type" class="form-label">Import Type</label>
            <select class="form-select" id="import-type" name="import_type" required>
                <option value="Caddyfile">Caddyfile</option>
                <option value="Docker-Compose">Docker Compose</option>
                <option value="JSON">JSON</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="file-content" class="form-label">File Content</label>
            <textarea class="form-control" id="file-content" name="file_content" rows="10" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Import</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/core/import.js') }}"></script>
{% endblock %}